.badge-niveau-1 {
    background-color: #a29bfe;
    color: #fff;
}
.badge-niveau-2 {
    background-color: #55efc4;
    color: #000;
}
.badge-niveau-3 {
    background-color: #81ecec;
    color: #000;
}
.badge-niveau-4 {
    background-color: #ffeaa7;
    color: #000;
}
.badge-niveau-5 {
    background-color: #fab1a0;
    color: #000;
}
