.badge-niveau-1 {
    background-color: #55efc4;
    color: #000;
}
.badge-niveau-2 {
    background-color: #2719e2;
    color: #fff;
}
.badge-niveau-3 {
    background-color: #dfd000;
    color: #000;
}
.badge-niveau-4 {
    background-color: #00c400;
    color: #ffffff;
}
.badge-niveau-5 {
    background-color: #cf3c1b;
    color: #ffffff;
}
.badge-niveau-6 {
    background-color: #8009af;
    color: #ffffff;
}
.badge-niveau-7 {
    background-color: #000000;
    color: #ffffff;
}
